

h2{

    text-align: center;
    font-weight:400;
    font-family: cursive;

}
p1{
    text-align: center;
    font-weight:400;
    font-family: cursive;
}
div{
    border-image-width: 0ch;
    image-orientation: calc(5);

}
#BOX{
    background-color: silver;

}
#BOX1{
      background-color: silver;

}
#BOX5{
    background-color: silver;

}
#BOX3{

    background-color: silver;

}

#class{
    
    background-color: silver;

}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sub{
    background-color: black;

}
#sub1{
    background-color: black;
}
p2{
    text-align: center;
    font-weight:400;
    font-family: cursive;
}
    p3{
        text-align: center;
    font-weight:400;
    font-family: cursive;
    }
    #cls{
        background-color: silver;

    }
    #s1{
        background-color: silver;
    }
    p9{
        text-align: center;
    font-weight:400;
    font-family: cursive;
    }

    p9{
        text-align: center;
    font-weight:300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
